/* Navigation */

/* We're grabbing the social media symbols and making them disappear once it reaches a certain size */

#main-nav .social{
  display: none;
}

/* Below we're grabbing the everything inside the main nav and stacking them on each other */

#main-nav .container{
  grid-template-columns: 1fr;
}

/* Below we're grabbing the home about(uls) and the logo specifically and centering them */

#main-nav ul,
#main-nav .logo {
  justify-self: center;
}

/* We're grabbing everything inside the mainnav container and making it so they stack on top of each other and they have a bit of a gap of 1.2rem */

#main-nav ul li a {
  padding: .5rem;
}

/* Home articles */

/* Below we're grabbing the main articles section and making it only 2 across as opposed to 3 */

#home-articles .articles-container{
  grid-template-columns: repeat(2,1fr);
}

/* Below we're grabbing the 1st child and last child divs and stacking the photos on top of the words/ */

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child {
  grid-template-columns: 1fr;
  grid-column: 1;
}

/* Below we're setting up the setting for screens below 600 px we're taking everything inside the showcase  and articles container and stacking them on top of each other */

@media(max-width: 600px) {
  /* Stack Grid Items */
  #showcase .showcase-container,
  #home-articles .articles-container {
    grid-template-columns: 1fr;
  }

  /* we're grabbing the last child div which is tge copyright section and making it only take 1 column */
  #main-footer .footer-container > *:last-child {
    grid-column: 1;
  }
 
  /* Below we're grabbing the 1st child and 2nd child and adding bottom border w/ padding bottom */

  #main-footer .footer-container > *:first-child,
  #main-footer .footer-container > *:nth-child(2){
    border-bottom: #444 dotted 1px;
    padding-bottom: 1rem;
  }

  /* Below we're grabbing everything inside page container and stacking them on each other  */

  .page-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  /* below we're making sure the article is taking up the 1st row  */

  .page-container > *:first-child {
    grid-row: 1;
  }

  /* Below we're making sure the heading is 2rem */

  .l-heading {
    font-size: 2rem;
  }
}
